analysis.py
unused_chunks.ipynb
stopwords/
jobnet_venv/
cc.da.300.small.vec
cc.da.300.vec
cc.da.300.vec.gz
cc.da.300.bin
df_desc.csv
extract_all_individual_files.py
extract_ALL_jobnet_data.py
jobtitler.csv
Analysis.ipynb
jobnet_gender_bias_full.csv
df_desc_genderword_counts.csv
df_desc_with_chatgpt_counts.csv
.git/objects/pack/pack-3bc524061cb9d4264d4b08efbe51a1045a46295b.pack
*.csv
requirements_backup.txt
processed_data/
processed_data_danish/
processed_data_filtered/
processed_data_preprocessed/
jobnet_cleanenv/
lid.176.bin
filtering_lang_descriptions.py
outputs/df_lemmatized_ads.pklhead_of_data.csv
head_of_data.csv
short_chat_count.py
test.py
log.txt
fem_ratio_boxplot.png
count_chat_words.py
Analysis.ipynb
allfileshas.txt
0a0a2d81-13a8-4830-8fac-b5eefe2f4b74.csv
outputs/df_lemmatized_ads.pkl
/Users/nannasteenholdt/Documents/jobnet/outputs/df_lemmatized_ads.pkl
extract_all_individual_files.py
jobnet_sample_extracted_data.csv
json_data_preview.csv
job_title_gender_bias_combined.csv
2022-02/
2022-03/
2022-04/
2022-05/
2024-11/
2024-12/
2025-01/
2025-02/
old_analysis.ipynb
filtering_lang_descriptions.py
full_chat_count.py
checker.py
stats_outputs/
gender_count.ipynb
gender_bias_log.txt
gendered_titles_over_time.py
job_title_gender_bias_analysis.py
count_gender_word_old.py
count_filtering.py
copy_paste.py
run_all_script
threshold_justification.py
validation_outputs/*.csv
count_filtering.py