analysis.py
unused_chunks.ipynb
stopwords/
jobnet_venv/
cc.da.300.small.vec
cc.da.300.vec
cc.da.300.vec.gz
cc.da.300.bin
df_desc.csv
extract_all_individual_files.py
extract_ALL_jobnet_data.py
jobtitler.csv
Analysis.ipynb
10_sample_extraction.py
jobnet_gender_bias_full.csv
df_desc_genderword_counts.csv
df_desc_with_chatgpt_counts.csv
.git/objects/pack/pack-3bc524061cb9d4264d4b08efbe51a1045a46295b.pack
*.csv
requirements_backup.txt